html {
    font-size: 20px;
}

div {
    font-size: 10px;
}

.pixel {
    color: rgb(29, 29, 170);
    font-size: 36px;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.point {
    color: rgb(228, 11, 11);
    font-size: 36pt;
    font-style: italic;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.em {
    color: rgb(233, 109, 20);
    font-size: 2em;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.rem {
    color: rgb(240, 188, 56);
    font-size: 2rem;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}