p {
    font-size: 25px;
    font-weight: bold;
    color: #f96d00;
}

h1 {
    color: rgba(14, 119, 119)
}

h3 {
    font-size: 38px;
    color: hsla(280, 70%, 75%, 1);
    border: 1px solid;
    background-color: hsla(280, 70%, 75%, 0.5);
}